<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>HELLO</h1>
    <% if (typeof currentUser == 'undefined') { %>
        <a href= "/login">Login</a>
        <a href= "/signup">Signup</a>
    <% } else { %>
        <span><%= currentUser.username %></span>
        <a href= "/logout">Log out</a>
    <% } %>
</body>
</html>