<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>HELLO</h1>
    <% if (typeof currentUser == 'undefined') { %>
        <a href= "/login">Login</a><br>
        <a href= "/signup">Signup</a><br>
    <% } else { %>
        <span><%= currentUser.username %></span><hr>
        <a href= "/new-post">Create a new post</a><br>
        <% if (!currentUser.is_member) { %>
            <a href= "/membership">Be a member!</a><br>
        <% } %>
        <a href= "/logout">Log out</a><br>
        <div id= "post-container">
            <% posts.forEach((post) => { %>
                <div class= "card">
                    <p><b><%= post.author.username %></b></p>
                    <span><%= post.timestamp %></span>
                    <p><%= post.content %></p>
                </div>
            <% }) %>
        </div>
    <% } %>
</body>
</html>