<%- include('partials/head') %>
    <h1 class="mb-3">Log in</h1>
    <div class="alert alert-info mb-3" role="alert">
        <i class="bi bi-info-circle me-2"></i>
        Login with username <b>admin</b> and password <b>admin</b> to have full permissions.
    </div>
    <% if (typeof errors != 'undefined') { %>
        <div class="alert alert-warning mb-3" role="alert">
            <ul class="mb-0">
                <% errors.forEach((err) => { %>
                    <li><%= err.msg %></li>
                <% }) %>
            </ul>
        </div>
    <% } %>
    <form method= "POST" action="">
        <div class="form-floating mb-3">
            <input type= "text" class="form-control" id="floatingInput" name= "username" placeholder="Username" />
            <label for= "floatingInput" class="form-label">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input type= "password" class="form-control" id="floatingInput" name= "password" placeholder="Password" />
            <label for= "floatingInput" class="form-label">Password</label>
        </div>
        <button type= "submit" class="btn btn-primary">Submit</button>
    </form> 
<%- include('partials/footer') %>