<%- include('partials/head') %>
    <h1>Log in</h1>
    <form method= "POST" action="">
        <div class="form-floating mb-3">
            <input type= "text" class="form-control" id="floatingInput" name= "username" placeholder="Username" />
            <label for= "floatingInput" class="form-label">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input type= "password" class="form-control" id="floatingInput" name= "password" placeholder="Password" />
            <label for= "floatingInput" class="form-label">Password</label>
        </div>
        <button type= "submit" class="btn btn-primary">Submit</button>
    </form> 
    <% if (typeof errors != 'undefined') { %>
        <ul>
            <% errors.forEach((err) => { %>
                <li><%= err.msg %></li>
            <% }) %>
        </ul>
    <% } %>
<%- include('partials/footer') %>