<%- include('partials/head') %>
    <% if (typeof currentUser == 'undefined') { %>
        <div class="alert alert-warning" role="alert">
            You must <a href= "/login">Login</a> or <a href= "/signup">Sign up</a> to create a post!
        </div>
    <% } else { %>
        <h1>New post</h1>
        <form method= "POST" action="" enctype="multipart/form-data">
            <div class="form-floating mt-3">
                <textarea name= "content" placeholder="Content..." class="form-control" id="floatingTextarea" style="height: 400px;" required></textarea>
                <label for= "floatingTextarea">Content</label>
            </div>
            <div class="mt-3">
                <label for="formFile" class="form-label">Upload image</label>
                <input class="form-control <%= fileErrors.length ? 'is-invalid' : '' %>" type="file" accept="image/*" id="formFile" name="postImage">
                <% if (fileErrors.length) { %>
                    <div class="invalid-feedback">
                        <%= fileErrors[0] %>
                    </div>
                <% } %>
            </div>
            <button type= "submit" class="btn btn-primary mt-3">Submit</button>
        </form> 
    <% } %>
<%- include('partials/footer') %>