<%- include('partials/head') %>
    <% if (typeof currentUser == 'undefined') { %>
        <div class="alert alert-warning" role="alert">
            You must <a href= "/login">Login</a> or <a href= "/signup">Sign up</a> to create a post!
        </div>
    <% } else { %>
        <h1>New post</h1>
        <form method= "POST" action="">
            <div class="form-floating mt-3">
                <textarea name= "content" placeholder="Content..." class="form-control" id="floatingTextarea" style="height: 200px;" required></textarea>
                <label for= "floatingTextarea">Content</label>
            </div>
            <button type= "submit" class="btn btn-primary mt-3">Submit</button>
        </form> 
    <% } %>
<%- include('partials/footer') %>