<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <% if (typeof currentUser == 'undefined') { %>
        <p>You must <a href= "/login">Login</a> or <a href= "/signup">Sign up</a> to create a post!</p>
    <% } else { %>
        <h1>NEW POST</h1>
        <form method= "POST" action="">
            <label for= "content">Content</label><br>
            <textarea name= "content" placeholder="Your content goes here..." required></textarea>
            <button type= "submit">Submit</button>
        </form> 
    <% } %>
</body>
</html>