<%- include('partials/head') %>
    <h1 class="mb-3">Sign up</h1>
    <% if (typeof errors != 'undefined') { %>
        <div class="alert alert-warning mt-3" role="alert">
            <ul class="mb-0">
                <% errors.forEach((err) => { %>
                    <li><%= err.msg %></li>
                <% }) %>
            </ul>
        </div>
    <% } %>
    <form method= "POST" action="">
        <div class="form-floating mb-3">
            <input type= "text" class="form-control" id="floatingInput" name= "username" placeholder="Username" />
            <label for= "floatingInput" class="form-label">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input type= "password" class="form-control" id="floatingInput" name= "password" placeholder="Password" />
            <label for= "floatingInput" class="form-label">Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type= "password" class="form-control" id="floatingInput" name= "confirm-password" placeholder="Re-enter password" />
            <label for= "floatingInput" class="form-label">Confirm password</label>
        </div>
        <button type= "submit" class="btn btn-primary">Submit</button>
    </form> 
<%- include('partials/footer') %>